body{
    height: 100vh;

}

.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'nav main main main main'
    'footer footer footer footer footer ' 

}

.header{
    grid-area: header;
    background-image:url(/assets/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
}

.logo_header img{
    width: 60px; 
  height: 60px;
  margin: 10px;
  margin-left: 70px; 
}

.titulo{
    color: white;
    padding-left: 43%;
}

.nav{
    background-image: url(/assets/img/fondo.png);
    grid-area: nav;
    width: 200px;
    height: 850px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
   
    
}

.nav p{
    color: white;
    padding: 10px 0px;
}

.nav p:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

.main{
    grid-area: main;
}

.grid-main{

    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 5px;
    
}

.faenas {
    color: rgb(194, 194, 194);
    background-image: url(/assets/img/fondo.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    opacity: 0.9;
}

.faenas:hover {

    color: white;
    opacity: 1;
  
   
}

.faenas img{

    width: 280px;
    height: 250px;
    margin-top: 10px;
}


.footer{
    grid-area: footer;
    text-align: center;
}


