.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'nav main main main main'
    'footer footer footer footer footer ' 

}

.header{
    grid-area: header;
    background-image:url(/assets/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
}

.logo_header img{
    width: 60px; 
  height: 60px;
  margin: 10px;
  margin-left: 70px; 
}

.titulo{
    color: white;
    padding-left: 43%;
}

.nav{
    background-image: url(/assets/img/fondo.png);
    grid-area: nav;
    width: 200px;
    height: 850px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: 1px solid;
    
}

.nav p{
    color: white;
    padding: 10px 0px;
}

.nav p:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

.main{
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto auto;  
}

.grid-main{

    display: grid;
    justify-content: end;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    
}

.faenas {
    color: white;
    background-image: url(/assets/img/fondo.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
    text-align: center;
    margin: 5px;
    border: 1px solid;
    ;
}

.faenas:hover {

    color: grey;
  
   
}

.faenas img{

    width: 280px;
    height: 250px;
    margin-top: 10px;
}

.faenas img:hover{
    opacity: 0.5;
    margin-top: 10px;

}

.footer{
    grid-area: footer;
    text-align: center;
}


